/Rectangle/nbproject/private/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/Add4/nbproject/private/
/Add4/build/
/FahrenheitToCelsius59/nbproject/private/
/FahrenheitToCelsius59/build/
/ShowCurrentTime59/nbproject/private/
/Selations/nbproject/private/
/Selations/build/
/GradePoint/nbproject/private/
/GradePoint/build/
/SwitchCase/target/
/LeafYear/target/
/TestString/target/
/FreeFacebook/target/
/VowelCon/target/
/TestLoop59/target/
/TestGusseNumber/target/
/PrimeNumber/target/
